body {
    
    padding-top: 50px;
    padding-bottom: 20px;
   
}
body a:link{
    color: #ffffff;
}

.section-title{
     color: #6c6c6c;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

header {
    margin-bottom: 20px;
    font-size: 40px;
}

.tab-content {
    height: 500px;
}

#tabs-tab1 {
    padding: 10px 10px 10px 10px;
    background: #479F89;
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 100%;
}

#tabs-tab2 {
    padding: 10px 10px 10px 10px;
    background: #3E87F4;
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 100%;
    margin-bottom: 200px;
}

#tabs-tab3 {
    padding: 10px 10px 10px 10px;
    background: #f44d3c;
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 550px;
    width: 1140px;
    margin-bottom: 200px;
}

#tabs-tab4 {
    padding: 10px 10px 10px 10px;
    background: #FF7519;
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 550px;
    width: 1140px;
    margin-bottom: 200px;
}

html {
    background-color: #121414 !important;
    color: #FFFFFF;
    height: 100%;
}

body {
    background-color: #121414 !important;
    color: #FFFFFF;
    height: 100%;
    margin-bottom: 40px;
}



.tab-colorizer ul {
    color: #5B388F;
    border: none;
}

.tab-colorizer li {
    border: none;
}

    .tab-colorizer li a:active {
        padding-left: 40px;
        padding-right: 40px;
        background: #479F89;
    }

#tabno1 a {
    -webkit-transition: padding 2s;
}

#tabno2 a {
    -webkit-transition: padding 2s;
}

#tabno3 a {
    -webkit-transition: padding 2s;
}

#tabno3 a {
    -webkit-transition: padding 2s;
}

.tab-colorizer #tabno1 a:hover {
    transition-duration: 1.5s;
    padding-left: 40px;
    padding-right: 40px;
    color: #FFFFFF;
    background: #479F89;
    border: none;
}

.tab-colorizer #tabno2 a:hover {
    transition-duration: 1.5s;
    padding-left: 40px;
    padding-right: 40px;
    color: #FFFFFF;
    background: #3E87F4;
    border: none;
}

.tab-colorizer #tabno3 a:hover {
    transition-duration: 1.5s;
    padding-left: 40px;
    padding-right: 40px;
    color: #FFFFFF;
    background: #f44d3c;
    border: none;
}

.tab-colorizer #tabno4 a:hover {
    transition-duration: 1.5s;
    padding-left: 40px;
    padding-right: 40px;
    color: #FFFFFF;
    background: #FF7519;
    border: none;
}

.form-group textarea {
    height: 135px;
    width: 600px;
}

.tab-colorizer span {
    font-size: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.jumbotron {
    margin: 150px 0 10px 0;
    /*--sandeepsarma photography https://www.facebook.com/sandeepsharmaphotographer*/
    filter: alpha(opacity = 50);
    background-image: url('dark_city_by_sandeepsarma-d5snrrq.jpg');
    padding: 15px 200px 30px 0;
    border: none;
    color: #FFFFFF;
    width: 1000px;
}

    .jumbotron p {
        padding-left: 40px;
        font-size: 40px;
        font-weight: 400;
        background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.7), rgba(0,0,0,0));
        background: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.7), rgba(0,0,0,0));
    }

    .jumbotron i {
        color: #f44d3c;
        font-weight: 900;
    }

    .jumbotron img {
        opacity: .7;
        padding-left: 80px;
    }

.learn-button {
    margin-right: 450px;
    margin-top: 0;
}

    .learn-button a {
        background-color: #f44d3c;
        color: #FFFFFF;
        border: none;
        font-size: 22px;
        font-weight: 900;
        padding: 20px 70px 20px 70px;
    }

        .learn-button a:hover {
            background-color: #C13333;
            color: #FFFFFF;
        }

.resume-button {
    margin-right: 0px;
    margin-top: 0px;
}

    .resume-button a {
        background-color: #f44d3c;
        color: #FFFFFF;
        border: none;
        font-size: 22px;
        font-weight: 900;
        padding: 10px 0px 10px 0px;
    }

        .resume-button a:hover {
            background-color: #C13333;
            color: #FFFFFF;
        }

.about-text h4{
    font-weight:700;
    font-size: 24px;
    margin-top:15px;
    margin-bottom: 5px;
}
.about-text p{
    font-size:20px;
}

.work-button a {
    background-color: #2e5ca1;
    color: #FFFFFF;
    border: none;
    font-size: 22px;
    font-weight: 900;
    padding-left: 10px;
    padding-right: 10px;
}

    .work-button a:hover {
        background-color: #123E82;
        color: #FFFFFF;
    }

.work-img img {
    height: 300px;
    border-radius: 5px;
}

.dd2 img {
    border-radius:5px;
    height: 175px;
    margin-top: 10px;
    margin-left: 65px;
    
}

.section-title {
    padding-left: 55px;
}
.navbar-trans {
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 440px;
    padding-right: 100px;
    border: none;
    font-size: 20px;
}
.navbar-trans a:hover{
    
    border-radius:10px;
    transition-duration:1s;
    border: 20px 20px 1px 20px;
    box-shadow:inset;
    
  -webkit-animation:bounce 1s infinite;

}
navbar-trans a{
    
    -webkit-transition: padding 2s;
}
.navbar-trans button{
    font-size:40px;
}

.img-rounded {
    
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
    width: 260px;
    height: 360px;
    margin-bottom: 20px;
}

.space-img a .img-rounded {
    width: 220px;
    height: 150px;
    margin-left:0;
}

.workbody h2, h3 {
    color: #6c6c6c;
    text-align: center;
    font-weight: 700;
}

.workbody p {

    font-size: 15px;
}
.contact-me{
    color: #ffffff;
}
.interest-images img{
    height:200px;
    width:260px;
}
.qualifications img{
    width:100px;
    height: 100%;
    margin-bottom: 29px;
}
.media-icons img{
  margin-top: 100px;
    margin-right: 15px;
    width:40px;
    opacity: .7;
}
.media-icons img:hover{
    opacity: 1;
}
li .media-icons{
    margin-left: 200px
}
li .media-icons img{
    margin-top: 5px;
}
.back-button{
    margin-top: 40px;
    padding: 0px 0px 0px 0px;
}
.resume-window{
    margin-top:40px;
}