
<h1 class="section-title">About</h1>

<div class="tabpanel styled-tabs uniform-height" role="tabpanel">
    
    <nav class="pull-right">
        <div class="tab-colorizer">
            <ul class="nav nav-tabs" role="tablist" text-hidden-xs="true">
                <li id="tabno1" role="presentation" class="active"><a href="#tabs-tab1" aria-controls="tabs-tab1" role="tab" data-toggle="tab"><i class="icon fa fa-diamond"></i><span>Professional</span></a></li>
                <li id="tabno2" role="presentation"><a href="#tabs-tab2" aria-controls="tabs-tab2" role="tab" data-toggle="tab"><i class="icon fa fa-train"></i><span>About Me</span></a></li>
                <li id="tabno3" role="presentation"><a href="#tabs-tab3" aria-controls="tabs-tab3" role="tab" data-toggle="tab"><i class="icon fa fa-coffee"></i><span>My Work</span></a></li>
                <li id="tabno4" role="presentation"><a href="#tabs-tab4" aria-controls="tabs-tab4" role="tab" data-toggle="tab"><i class="icon fa fa-coffee"></i><span>Contact Me</span></a></li>
            </ul>

        </div>

        <!-- Tab panes -->
        <div class="tab-content">
            
            <div role="tabpanel" class="tab-pane fade in active" id="tabs-tab1">
                <br>
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-6 column">
                            <div class="carousel slide" id="carousel-739798">
                                <ol class="carousel-indicators">
                                    <li class="active" data-slide-to="0" data-target="#carousel-739798">
                                    </li>
                                    <li data-slide-to="1" data-target="#carousel-739798">
                                </ol>
                                <div class="carousel-inner">


                                    <div class="item active">
                                        <img src="~/Content/NowZad.jpg" />
                                        <div class="carousel-caption">
                                            <h4>
                                                Camp Now Zad, Afghanistan, 2011
                                            </h4>
                                            <p>
                                                Completion of mission to Camp Now Zad, Afghanistan in 2011 with Navy Lt. Meyer.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img class="about-img" src="~/Content/894533dbf10dbffcf8d1fc438a83ab43_zpsac837b38.jpg" />
                                        <div class="carousel-caption">
                                            <h4>
                                                Seeking Challenges
                                            </h4>
                                            <p>
                                                Top of the climb at North Cheyenne Mountain Rd. in Colorado Springs. 3 mile ascent of over 1500 ft. Hardest ride of my life.
                                            </p>
                                        </div>
                                    </div>

                                </div> <a class="left carousel-control" href="#carousel-739798" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-739798" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                            </div>
                        </div>
                        <div class="col-md-6 column">


                            <p class="about-text">
                                    I have spent years cultivating an insatiable desire to learn, by continually placing myself in situations where I am forced to adjust and acquire new skills. As an Army veteran, I tested my mental and physical limits while mastering new satellite communication technologies and serving my country. After leaving the service, I was introduced to programming, and haven't looked back.  For me, Coding is the fusion of creativity and technology, as it utilizes my past experiences and satisfies my desire to push myself and learn new things. I am ready to take on this next challenge in my life and grow as a developer while contributing my skills as part of a dynamic team.
                            </p>
                            <p class="resume-button"><a  onclick="myFunction()" class="btn btn-block btn-default">Resume <span class="glyphicon glyphicon-play"></span></a></p>
                            <script>
function myFunction() {
    window.open(href="@Url.Action("NathanRogersResume.pdf", "Content")");
}
</script>
                            
                        </div>
                    </div>
                </div>

            </div>

            <div role="tabpanel" class="tab-pane fade" id="tabs-tab2">
                <br>
              
                <div class="col-md-6 column">
                    <div class="carousel slide" id="carousel-739798">
                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#carousel-739798">
                            </li>
                            <li data-slide-to="1" data-target="#carousel-739798">
                        </ol>
                        <div class="carousel-inner">


                            <div class="item active">
                                <img src="~/Content/NowZad.jpg" />
                                <div class="carousel-caption">
                                    <h4>
                                        Camp Now Zad, Afghanistan, 2011
                                    </h4>
                                    <p>
                                        Completion of mission to Camp Now Zad, Afghanistan in 2011 with Navy Lt. Meyer.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img class="about-img" src="~/Content/894533dbf10dbffcf8d1fc438a83ab43_zpsac837b38.jpg" />
                                <div class="carousel-caption">
                                    <h4>
                                        Seeking Challenges
                                    </h4>
                                    <p>
                                        Top of the climb at North Cheyenne Mountain Rd. in Colorado Springs. 3 mile ascent of over 1500 ft. Hardest ride of my life.
                                    </p>
                                </div>
                            </div>

                        </div> <a class="left carousel-control" href="#carousel-739798" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-739798" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
                <p class="about-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio.</pclass>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="tabs-tab3">
                <br>
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div class="row clearfix">
                                <div class="col-md-6 column">
                                    <div class="work-img">
                                        <img src="~/Content/overview.png" />
                                    </div>
                                    <div class="dd2">
                                        <img src="~/Content/Don'tDie2.png" />
                                    </div>
                                </div>
                                <div class="work-text">
                                    <div class="col-md-6 column">
                                        <p class="about-text">Nunc accumsan sapien eu tortor fringilla, et condimentum metus pellentesque. Maecenas rhoncus tortor nec mi congue aliquet. Integer eu turpis scelerisque, iaculis magna non, tempor sem. Quisque consectetur nisi eu felis euismod, sit amet faucibus justo molestie. Ut pretium sapien dui, id facilisis metus interdum pharetra.</pclass>
                                        <p class="work-button"><a href="@Url.Action("Work", "Home")" class="btn btn-block btn-default">My Work Examples <span class="glyphicon glyphicon-play"></span></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane fade" id="tabs-tab4">
                <br>
                <article id="contact" class="section-wrapper clearfix" data-custom-background-img="assets/images/other_images/bg4.jpg">
                    <div class="content-wrapper clearfix">

                        <h1 class="section-title">Get in touch!</h1>

                        <!-- CONTACT DETAILS -->
                        <div class="contact-details col-sm-5 col-md-3">
                            <p>123A,<br />Molestie Lorem Avenue,<br />Aliquam<br />AAA0010</p>
                            <p>Tel: (+20) 21 301 524</p>
                            <p><a href="mailto:info@loremipsum.com">info@loremipsum.com</a></p>
                        </div>
                        <!-- END: CONTACT DETAILS -->
                        <!-- CONTACT FORM -->
                        <div class="col-sm-7 col-md-9">
                            <!-- IMPORTANT: change the email address at the top of the assets/php/mail.php file to the email address that you want this form to send to -->
                            <form class="form-style validate-form clearfix" action="assets/php/mail.php" method="POST" role="form">

                                <!-- form left col -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="text-field form-control validate-field required" data-validation-type="string" id="form-name" placeholder="Full Name" name="name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="text-field form-control validate-field required" data-validation-type="email" id="form-email" placeholder="Email Address" name="email">
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" class="text-field form-control validate-field phone" data-validation-type="phone" id="form-contact-number" placeholder="Contact Number" name="contact_number">
                                    </div>
                                    <div class="form-group text-right">
                                        <input type="text" class="text-field form-control validate-field required" data-validation-type="captcha" id="form-captcha" placeholder="Enter text" name="captcha">
                                        <span id="form-captcha-refresh" class="fa fa-refresh" title="Reload"></span>
                                    </div>
                                </div><!-- end: form left col -->
                                <!-- form right col -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea placeholder="Message..." class="form-control validate-field required" name="message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-sm btn-outline-inverse">Submit</button>
                                    </div>
                                    <div class="form-group form-general-error-container"></div>
                                </div><!-- end: form right col -->

                            </form>
                        </div><!-- end: CONTACT FORM -->

                    </div><!-- .content-wrapper -->
                </article><!-- .section-wrapper -->
                <p class="about-text">Nunc accumsan sapien eu tortor fringilla, et condimentum metus pellentesque. Maecenas rhoncus tortor nec mi congue aliquet. Integer eu turpis scelerisque, iaculis magna non, tempor sem. Quisque consectetur nisi eu felis euismod, sit amet faucibus justo molestie. Ut pretium sapien dui, id facilisis metus interdum pharetra.</pclass>
            </div>


        </div>
    </nav>
</div><!-- .tab-content -->
