
<h1 class="section-title">About</h1>

<div class="tabpanel styled-tabs uniform-height" role="tabpanel">

    <nav class="pull-right">
        <div class="tab-colorizer">
            <ul class="nav nav-tabs" role="tablist" text-hidden-xs="true">
                <li id="tabno1" role="presentation" class="active"><a href="#tabs-tab1" aria-controls="tabs-tab1" role="tab" data-toggle="tab"><i class="icon fa fa-diamond"></i><span>Professional</span></a></li>
                <li id="tabno2" role="presentation"><a href="#tabs-tab2" aria-controls="tabs-tab2" role="tab" data-toggle="tab"><i class="icon fa fa-train"></i><span>About Me</span></a></li>
                <li id="tabno3" role="presentation"><a href="#tabs-tab3" aria-controls="tabs-tab3" role="tab" data-toggle="tab"><i class="icon fa fa-coffee"></i><span>My Work</span></a></li>
                <li id="tabno4" role="presentation"><a href="#tabs-tab4" aria-controls="tabs-tab4" role="tab" data-toggle="tab"><i class="icon fa fa-coffee"></i><span>Contact Me</span></a></li>
            </ul>

        </div>

        <!-- Tab panes -->
        <div class="tab-content">

            <div role="tabpanel" class="tab-pane fade in active" id="tabs-tab1">
                <br>
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-6 column">
                            <div class="carousel slide" id="carousel-739798">
                                <ol class="carousel-indicators">
                                    <li class="active" data-slide-to="0" data-target="#carousel-739798">
                                    </li>
                                    <li data-slide-to="1" data-target="#carousel-739798">
                                </ol>
                                <div class="carousel-inner">


                                    <div class="item active">
                                        <img src="~/Content/NowZad.jpg" />
                                        <div class="carousel-caption">
                                            <h4>
                                                Camp Now Zad, Afghanistan, 2011
                                            </h4>
                                            <p>
                                                Completion of mission to Camp Now Zad, Afghanistan in 2011 with Navy Lt. Meyer.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img class="about-img" src="~/Content/894533dbf10dbffcf8d1fc438a83ab43_zpsac837b38.jpg" />
                                        <div class="carousel-caption">
                                            <h4>
                                                Seeking Challenges
                                            </h4>
                                            <p>
                                                Top of the climb at North Cheyenne Mountain Rd. in Colorado Springs. 3 mile ascent of over 1500 ft. Hardest ride of my life.
                                            </p>
                                        </div>
                                    </div>

                                </div> <a class="left carousel-control" href="#carousel-739798" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-739798" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                            </div>
                        </div>
                        <div class="col-md-6 column">

                            <div class="about-text">
                                <p>
                                    I have spent years cultivating an insatiable desire to learn, by continually placing myself in situations where I am forced to adjust and acquire new skills. As an Army veteran, I tested my mental and physical limits while mastering new satellite communication technologies and serving my country. After leaving the service, I was introduced to programming, and haven't looked back.  For me, Coding is the fusion of creativity and technology, as it utilizes my past experiences and satisfies my desire to push myself and learn new things. I am ready to take on this next challenge in my life and grow as a developer while contributing my skills as part of a dynamic team.
                                </p>
                            </div>
                            <p class="resume-button"><a onclick="myFunction()" class="btn btn-block btn-default">Resume <span class="glyphicon glyphicon-play"></span></a></p>
                            <script>
                                function myFunction() {
                                    window.open(href = "@Url.Action("Resume", "Home")");
                                }
                            </script>

                        </div>
                    </div>
                </div>

            </div>

            <div role="tabpanel" class="tab-pane fade" id="tabs-tab2">
                <br>

                <div class="col-md-6 column">
                    <div class="interest-images">
                        <img src="~/Content/11143520_588597771281742_7928361013227514350_n.jpg" />
                        <img src="~/Content/11209723_586829944791858_2695437823095395349_n.jpg" />
                        <img src="~/Content/10985437_588598121281707_1357256010594145677_n.jpg" />

                        <img src="~/Content/cigar-and-cognac.jpg" />
                    </div>
                </div>
                <div class="about-text">
                    <h4>Cyclist</h4>
                    <p>A lover of life, I live an active lifestyle. I love cycling, and am currently training for my first century ride (100 miles). In the last 3 years I have ridden over 3,000 miles to date, and enjoy longer rides. </p>
                    <h4>Go Player</h4>
                    <p>
                        I also study the ancient and wonderful game of Go in my spare time. Go is a simple game, but is beautifully deep.
                    </p>
                    <h4>Cigar Aficonado</h4>
                    <p>
                        When I'm out with friends, I enjoy a good cigar, and consider myself an Aficionado in training. I spent 2 years in the cigar industry, learning about the art and craftsmanship it takes to create cigars.
                    </p>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="tabs-tab3">
                <br>
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div class="row clearfix">
                                <div class="col-md-6 column">
                                    <div class="work-img">
                                        <img src="~/Content/overview.png" />
                                    </div>
                                    <div class="dd2">
                                        <img src="~/Content/Don'tDie2.png" />
                                    </div>
                                </div>
                                <div class="about-text">
                                    <div class="col-md-6 column">
                                        <p class="about-text">My goal is to continually grow and expand my skills as a programmer. I have taken part in the SeedPaths coding boot camp, and the IGDA Colorado Denver Kinect Hackathon. Starting with Java, I have expanded my skillset to include C#, Javascript, Unreal Engine 4, SQL, and more. Click below to see a few excerpts of my work so far.</p>
                                        <div class="qualifications">
                                            <img src="~/Content/Media/vslogo2012.png">
                                            <img src="~/Content/Media/dotnet.png" />
                                            <img src="~/Content/Media/Logo.png" />
                                            <img src="~/Content/Media/0310.SQLServerLogo.png-550x0.png" />
                                            <img src="~/Content/Media/Icons8-Windows-8-Programming-Java-Coffee-Cup-Logo.ico" />
                                            <img src="~/Content/Media/logo-800x188.png"><img src="~/Content/Media/bootstrap.png" />
                                            <img src="~/Content/Media/html5css3badges.png" />
                                           
                                            <img src="~/Content/Media/Photoshop-Logo-XL-1024x1013.png" />
                                            <img src="~/Content/Media/ue4.png" />
                                        </div>
                                        <p class="work-button"><a href="@Url.Action("Work", "Home")" class="btn btn-block btn-default">My Work Examples <span class="glyphicon glyphicon-play"></span></a></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div role="tabpanel" class="tab-pane fade"  id="tabs-tab4">
                <br>
                <article id="contact" class="section-wrapper clearfix" data-custom-background-img="assets/images/other_images/bg4.jpg">
                    <div class="content-wrapper clearfix">

                        <h1 class="contact-me">Get in touch!</h1>
                        <div class="about-text">
                            <p>Feel free to contact me at any of the methods provided, or simply leave me a comment!</p>
                        </div>
                        <!-- CONTACT DETAILS -->
                        <div class="contact-details col-sm-5 col-md-3">
                            <p>Tel: (719)-229-0865</p>
                            <p class="email-address"><a href="nathan.rogers.d@gmail.com">nathan.rogers.d@gmail.com</a></p>
                        </div>
                        <!-- END: CONTACT DETAILS -->
                        <!-- CONTACT FORM -->
                        <div class="col-sm-7 col-md-9">
                            <!-- IMPORTANT: change the email address at the top of the assets/php/mail.php file to the email address that you want this form to send to -->
                            <form class="form-style validate-form clearfix" action="assets/php/mail.php" method="POST" role="form">

                                <!-- form left col -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="text-field form-control validate-field required" data-validation-type="string" id="form-name" placeholder="Full Name" name="name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="text-field form-control validate-field required" data-validation-type="email" id="form-email" placeholder="Email Address" name="email">
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" class="text-field form-control validate-field phone" data-validation-type="phone" id="form-contact-number" placeholder="Contact Number" name="contact_number">
                                    </div>
                                    <div class="form-group text-right">
                                        <input type="text" class="text-field form-control validate-field required" data-validation-type="captcha" id="form-captcha" placeholder="Enter text" name="captcha">
                                        <span id="form-captcha-refresh" class="fa fa-refresh" title="Reload"></span>
                                    </div>
                                </div><!-- end: form left col -->
                                <!-- form right col -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea placeholder="Message..." class="form-control validate-field required" name="message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-sm btn-outline-inverse">Submit</button>
                                    </div>
                                    <div class="form-group form-general-error-container"></div>
                                </div><!-- end: form right col -->

                            </form>
                        </div><!-- end: CONTACT FORM -->

                    </div><!-- .content-wrapper -->
                </article><!-- .section-wrapper -->
            </div>


        </div>
    </nav>
</div><!-- .tab-content -->
