

    <h1 class="section-title">Nathan Rogers</h1>


<div class="jumbotron">
    <p class="lead">Solution <strong><i>Driven</i></strong> Software Developer</p>
    <img src="~/Content/quotes-407.jpg" />
    



</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="pull-right">
                <p class="learn-button"><a href="@Url.Action("About", "Home")" class="btn btn-block btn-default">Learn about me <span class="glyphicon glyphicon-play"></span></a></p>
            </div>
        </div>
    </div>
</div>