<h1 class="section-title">Resume</h1>

<div class="resume-window">
    <iframe src="~/Content/NathanRogersResume.pdf" style="width:810px; height:1055px;" frameborder="0"></iframe>
</div>
    <div class="back-button"></div>
    <p class="learn-button"><a href="@Url.Action("About", "Home")" class="btn btn-block btn-default">Back to about me<span class="glyphicon glyphicon-play"></span></a></p>
</div>