<h1 class="section-title">Work</h1>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="carousel slide" id="carousel-315215">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-315215">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-315215">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-315215">
                    </li>

                    
                </ol>
                <div class="carousel-inner">
                    <div class="item active">

                        <img src="~/Content/Gameplay.png" />
                        <div class="carousel-caption">
                            <h4>
                                First Thumbnail label
                            </h4>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        
                        <img src="~/Content/blueprints.png" />
                        <div class="carousel-caption">
                            <h4>
                                Second Thumbnail label
                            </h4>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/Don'tDie.png" />
                        <div class="carousel-caption">
                            <h4>
                                Third Thumbnail label
                            </h4>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                        </div>
                    </div>
                    
                </div> <a class="left carousel-control" href="#carousel-315215" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-315215" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
</div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <img src="~/Content/wt6tl08ml7c7.png" />
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <img src="~/Content/spacerace.png" />
                </div>
                <div class="col-md-4 column">
                    <img src="~/Content/srgameplay.png" />
                </div>
                <div class="col-md-4 column">
                    <img src="~/Content/highscoreSR.png" />
                </div>
            </div>
        </div>
    </div>
</div>