<h1 class="section-title">Work</h1>

<div class="workbody">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h2>IGDA Colorado Denver Kinect Hackathon</h2>
                <h3>Jump, Don't Die</h3>
                <div class="row clearfix">
                    <div class="col-md-6 column">
                        <div class="carousel slide" id="carousel-315215">
                            <ol class="carousel-indicators">
                                <li class="active" data-slide-to="0" data-target="#carousel-315215">
                                </li>
                                <li data-slide-to="1" data-target="#carousel-315215">
                                </li>
                                <li data-slide-to="2" data-target="#carousel-315215">
                                </li>


                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">

                                    <img src="~/Content/Gameplay.png" />
                                    <div class="carousel-caption">
                                        <h4>
                                            Jump, Don't Die Gameplay
                                        </h4>
                                        <p>
                                            Jump, Don't Die is a basic side-scrolling free running game. The player automatically runs to the right, with the goal of avoiding any obstactles to get as far as you can.
                                        </p>
                                    </div>
                                </div>
                                <div class="item">

                                    <img src="~/Content/blueprints.png" />
                                    <div class="carousel-caption">
                                        <h4>
                                            Unreal Engine 4 Blueprints
                                        </h4>
                                        <p>
                                            To develop for the Unreal Engine, I had to become familiar with Blueprint coding. I had a short period of time to learn the tools, but was able to implement all the features necessary to create the MVP in just 2 days independantly.
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="~/Content/overview.png" />
                                    <div class="carousel-caption">
                                        <h4>
                                            Overview
                                        </h4>
                                        <p>
                                            Overview of the level from the game from the side.
                                        </p>
                                    </div>
                                </div>

                            </div> <a class="left carousel-control" href="#carousel-315215" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-315215" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Jump, Don't Die</strong> is the result of a 2 day, intense hackathon, hosted by Independant Game Developers Association in association with the Denver Microsoft Desert Mountain District, on April 24-25, 2015. This was my first experience at this type of event, as well as my first time using a graphics engine and the Kinect itself. Microsoft provided kinects and Windows Surface Pro 3 tablets to work with, and developers from <strong><a href="http://opaquemultimedia.com/index.html"> Opaque Multimedia </a></strong>were there to provide assistance in developing using their proprietary unreal engine 4 libraries for the kinect. </p>
                        <p>Working independantly, I was able to use the free Unreal Engine 4 SDK to develop a free running platformer using the kinect as the primary input device for the user. My project won an honory mention after presentation at the end of the hackathon, winning a free kinect, and copy of Windows 8 Pro. I learned a great deal in a very short period of time. This is my first experience developing for both Unreal Engine 4 and the Kinect. </p>
                        <p>This project is evidence that I am able to adapt to new technology quickly and easily. I am a very skilled adapter, and am eager to learn new technologies.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2>Cybernetix</h2>
            <h3>A Cyberpunk Adventure</h3>
            <div class="row clearfix">
                <div class="col-md-6 column">

                    <a class="pull-right" href="~/Content/Screenshot 2015-05-16 21.50.09.png">
                        <img src="~/Content/Screenshot 2015-05-16 21.50.09.png" class="img-rounded" />
                    </a>

                    <a href="~/Content/wt6tl08ml7c7.png" target="_blank">
                        <img src="~/Content/wt6tl08ml7c7.png" class="img-rounded" />

                    </a>

                </div>
                <div class="col-md-6 column">

                    <p>
                        <strong>Cybernetix</strong> takes the player on a violent journey through a post-apocalyptic future. As a Blade Runner, you must defend the remaining populated cities from aggressive, manic machines that will attack anything that moves.
                    </p>
                    <p>
                        Filled with animations, and more weapons than you can shake a stick at, this is a text-based game for a new generation.
                    </p>
                    <p>
                        Fight against an ever growing hoard of psychotic machines! The enemy is constantly reenforcing, so keep an eye on your ammo count. When you run out of bullets, the machines will overwhelm you, so use your supply drops!
                    </p>
                    <p>
                        Select your arsenal, from artillery, EMP grenades, cybernetic implants, and tactical nukes. Protect the world, humanity is counting on you!
                    </p>

                </div>
            </div>
        </div>
    </div><div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="spacerace-text">
                    <h2>Space Race</h2>
                    <h3 class="sarcasm">
                        In deep space, no one can hear you scream...
                    </h3><div class="space-img">
                        <div class="row clearfix">
                            <div class="col-md-6 column">

                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <a href="~/Content/spacerace.png" target="_blank">
                                            <img src="~/Content/spacerace.png" class="img-rounded" alt="Cinque Terre" width="350" height="236">
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="~/Content/srgameplay.png" target="_blank">
                                            <img src="~/Content/srgameplay.png" class="img-rounded" alt="Cinque Terre" width="350" height="236">
                                        </a>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <a href="~/Content/highscoreSR.png" target="_blank">
                                            <img src="~/Content/highscoreSR.png" class="img-rounded" alt="Cinque Terre" width="350" height="236">
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="~/Content/Screenshot 2015-05-16 22.09.49.png" target="_blank">
                                            <img src="~/Content/Screenshot 2015-05-16 22.09.49.png" class="img-rounded" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 column">

                                <p>...but they can sure see you scream by them! Take part in the biggest intergalactic spetacle in the history of the omniverse, <i>High Speed Asteroid Field Racing!</i> Asteroid fields are notorious for killing many an unwary interstellar traveller, but you are a thrill-seeking adventurer, an adrenaline seeking junky who is willing to take on any risk. As a space racer, you must survive as long as possible in the treacherous asteroid field of doom!</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
