@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>

}

<p>Use this area to provide additional information.</p>
<h2>upload a file</h2>

<form action="@Url.Action("About", "Home")" method="post" enctype="multipart/form-data">
    <input type="file" id="fileUpload" name="file" />
    <input type="submit" id="buttonSubmit" value="Upload"/>

</form>